{% extends 'main/base.html' %}
{% load static %}

    {% block content %}


<div class="price-range"><!--price-range-->
    <h2>Price Range</h2>
    <form action="{% url 'products_in_price_range' %}" method="get">
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" name="min_price" ><br />
            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
        </div>
            {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>${{ product.price }}</p>
                <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
            </div>
            {% endfor %}

        <input type="submit" value="Filter">
    </form>
</div>

{% if products %}
    <ul>
    {% for product in products %}
        <li>{{ product.name }} - ${{ product.price }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products found.</p>
{% endif %}

{% endblock %}
